<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paracraft-青少年的编程工具与学习平台</title>
  <meta name="keywords" content="编程，3D动画，动画，教育，少儿编程，未来教育，Paracraft创意空间，趣味编程，编程学习，青少年编程，游戏制作，Paracraft，小孩学编程，儿童编程，动画编程，做游戏，动画制作，小孩学编程，编程工具">
  <meta name="description" content="Paracraft创意空间是一款面向7岁以上用户的免费的3D动画创作和编程学习软件。你可以用它创建3D场景和人物，制作动画和电影，学习和编写计算机程序。下载软件后，可观看百部优秀的用户电影作品，创造属于你的个人作品。">
  <meta property="og:image" content="https://api.keepwork.com/storage/v0/siteFiles/4736/raw#百度搜索展示小图.png">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_667420_9u17snvtyow.css">
  <link rel="stylesheet" href="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css">
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=6c497f51c06477544e5fa6e9bd68f7c3"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
</head>
<body>
  <div id="app"><!--vue-ssr-outlet--></div>
</body>
</html>